In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
ticker = pd.read_csv("/content/drive/MyDrive/Santhosh/hw3_sp500/ticker.csv", header=[0])
sp500 = pd.read_csv("/content/drive/MyDrive/Santhosh/hw3_sp500/sp500.csv", header=[0])
result = pd.read_csv("/content/drive/MyDrive/Santhosh/hw3_sp500/sp500_ticker_(partial result).csv")

In [ ]:
tic = ticker.to_numpy()
sp = sp500.to_numpy()
re = result.to_numpy()

In [ ]:
ts = tic[:, 1]
ss = sp[:, 0]

In [ ]:
print(ts[6])
print(ss[55])

BAC
BAC

In [ ]:
t = tic.shape[0]
s = sp.shape[0]
r = re.shape
print(t)
print(s)
print(r)

45778
505
(13, 506)

In [ ]:
dr = np.zeros((t, s))

In [ ]:
for i in range(t):
  for j in range(s):
    if ts[i] == ss[j]:
      dr[i, j] = 1
    else:
      dr[i, j] = 0

In [ ]:
dr[6,55]

1.0

In [ ]:
d = pd.DataFrame(dr)
d

,0,1,2,3,4,5,6,7,8,9,...,495,496,497,498,499,500,501,502,503,504
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45773,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
45774,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
45775,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
45776,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
45777,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
d[6][54]

0.0

In [ ]:
d.to_csv("output.csv")